body { 
  background-color: black;
  color: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#flag {
  width:200px; 
  height: 160px; 
  float: right; 
}